

table { background-color: white; font-family: "Times New Roman", Times, serif; font-size: 12pt; color: black }


@page {margin: 1cm; }
@page:first {margin-top: 2.5cm; margin-bottom: 2cm; }
@page:right {margin-left: 2cm; }
@page:left {margin-right: 2cm; } 